In [153]:
import pandas as pd

In [162]:
bed=pd.read_csv("uniq.yeast.Pol1YA.rnh201.1.GSM1521156.SRR1609193_forward.bedgraph",sep="\t",skiprows=1,header=None)

In [163]:
bed.head()

      0  1  2   3
0  chrI  0  0  17
1  chrI  1  1  15
2  chrI  2  2   6
3  chrI  3  3  20
4  chrI  4  4  12

In [164]:
ROI=open("ROI.txt",encoding='utf-8')
for line in ROI:
    print (line)
    line =line.strip().split("\t")
    chrm,start,finish=line[0],int(line[1]),int(line[2])
    print (chrm,start,finish)
    mask = bed[(bed[0] ==chrm) & (bed[1] > start)& (bed[1] < finish)]
    print (mask.head())
    bed.drop(mask.index,inplace=True)

chrI	1	5

chrI 1 5
      0  1  2   3
2  chrI  2  2   6
3  chrI  3  3  20
4  chrI  4  4  12
chrI	20	30

chrI 20 30
       0   1   2   3
21  chrI  21  21  13
22  chrI  22  22   7
23  chrI  23  23   9
24  chrI  24  24   8
25  chrI  25  25   6
chrI	40	50
chrI 40 50
       0   1   2   3
41  chrI  41  41  21
42  chrI  42  42  15
43  chrI  43  43   7
44  chrI  44  44  28
45  chrI  45  45  17

In [165]:
bed.head()

      0  1  2   3
0  chrI  0  0  17
1  chrI  1  1  15
5  chrI  5  5  22
6  chrI  6  6  22
7  chrI  7  7  14